<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>346789838130-9v9jonmp648fgrn4ntmsh8dngv06i89d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.346789838130-9v9jonmp648fgrn4ntmsh8dngv06i89d</string>
	<key>API_KEY</key>
	<string>AIzaSyCOMB4J2I1w7sfASsCcRjgLh4wgVkxIAVY</string>
	<key>GCM_SENDER_ID</key>
	<string>346789838130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AlexandraRhodes.LambdaTimeline</string>
	<key>PROJECT_ID</key>
	<string>coreimage-9c397</string>
	<key>STORAGE_BUCKET</key>
	<string>coreimage-9c397.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:346789838130:ios:9e8030502c5d0bb979ab2b</string>
	<key>DATABASE_URL</key>
	<string>https://coreimage-9c397.firebaseio.com</string>
</dict>
</plist>